<div class="card">

  <div class="card-body">
    <div>
      <div class="form-group">
          <label>번호:</label>
          <input class="form-control" ng-value="qna.qa_id" readonly/>
      </div>
      <div class="form-group">
          <label>문의 유형:</label>
          <input class="form-control" ng-value="qna.qa_category" readonly/>
      </div>
      <div class="form-group">
          <label>유저ID:</label>
          <input class="form-control" ng-value="qna.user_id" readonly/>
      </div>
      <div class="form-group">
          <label>답변 상태:</label>
          <input class="form-control" ng-value="qna.qa_status" readonly/>
      </div>
      <div class="form-group">
        <label>문의 날짜:</label>
        <input class="form-control" value="{{ qna.qa_date | date: 'yyyy-MM-dd' }}" readonly/>
      </div>
      <div class="form-group">
        <label>문의 내용:</label>
        <textarea class="form-control" ng-value="qna.qa_content" readonly></textarea>
      </div>
      <div class="form-group">
        <label>답변 작성자:</label>
        <input class="form-control" ng-value="qna.qa_admin" readonly/>
      </div>
      <div class="form-group">
        <label>답변 내용:</label>
        <textarea class="form-control" ng-value="qna.qa_answer" readonly></textarea>
      </div>

        <button class="btn btn-danger btn-sm" ng-click="getList(pager.pageNo, categoryVal)">목록</button>
        <button class="btn btn-danger btn-sm" ng-click="updateQnaForm()">수정</button> 
        <button class="btn btn-danger btn-sm" ng-click="deleteQna(qna.qa_id)">삭제</button>       
    </div>
  </div>
</div>