<a class="list-group-item list-group-my" id="list-home-list" style="text-decoration:none; border-color: white; color: black; font-weight: bold; font-size:1.3em;" >마이페이지</a>
<a class="list-group-item list-group-item-action" href="/#!/http_user" role="tab" aria-controls="home" >회원정보</a>
<a class="list-group-item list-group-item-action" href="/#!/product" role="tab" aria-controls="profile">상품</a>
<a class="list-group-item list-group-item-action " href="/#!/http_order" role="tab" ng-click="reloadable('http_order')" aria-controls="profile">주문관리</a>
<a class="list-group-item list-group-item-action " href="/#!/http_reviews" ng-click="reloadable('http_reviews')" role="tab" aria-controls="review">리뷰</a>
<a class="list-group-item list-group-item-action "  href="/#!/http_qna" role="tab" ng-click="reloadable('http_qna')">문의관리</a> 