
    <div class="card-body">
        <div>
            <div class="mb-3 searchBar">
                <div>
                <select ng-model="dstatus" style="height: 30px;">
                    <option ng-repeat="dstatus in dstatusList">{{dstatus}}</option>
                </select>
                <input type="text" placeholder="사용자 이름" onfocus="this.placeholder=''" ng-value="searchword" ng-model="searchword" />
                <button class="btn btn-outline-info btn-sm ml-1" ng-click="searchList(searchword,dstatus)">검색</button>
                <button class="btn btn-outline-info btn-sm" ng-click="searchList('',null)">전체목록</button>  
                </div>
                <div>
                    <span style="color: red;">{{count}}</span>개의 주문리스트
                </div>             
            </div>
            <table class="table">
                <thead class="thead-light">

                    <tr style="text-align: center;">
                        
                        <th>주문번호</th>
                        <th>주문자</th>
                        <th>주문날짜</th>
                        <th>주문가격</th>
                        <th>주문수량</th>
                        <th>주문상태</th>
                        
                    
                    </tr>
                    <tr ng-repeat="order in orders"  style="text-align: center;">
                        <td><a ng-click="read(order.order_id,keyword,searchStatus)" href="">{{order.order_id}}</a></td>
                        <td>{{order.order_name}}</td>
                        <td>{{order.order_date | date:"yyyy.MM.dd"}}</td>
                        <td>{{order.total_price}}원</td>
                        <td>{{order.total_amount}}</td>
                        <td>{{order.delivery_status}}
                            <button  class="btn btn-danger btn-sm" ng-show="order.delivery_status==='취소 중'" ng-click=deleteOrders(order,keyword,searchStatus)>주문 취소</button>
                            <button  class="btn btn-primary btn-sm" ng-show="order.delivery_status==='배송준비중'" ng-click=completeOrders(order,keyword,searchStatus)>배송 완료</button>
                        </td>
                        
                    </tr>
                </thead>
            </table>
                <div ng-if="pageShow" style="margin-top: 20px; text-align: center;">

                    <button class="btn btn-light btn-sm"
                                ng-click="getList(1,keyword,searchStatus)">처음</button> 
                    <button class="btn btn-light btn-sm"
                                ng-show="pager.groupNo>1" 
                                ng-click="getList(pager.startPageNo-1,keyword,searchStatus)">이전</button>
                    <button ng-repeat="i in pageRange"
                                class="btn btn-sm {{(pager.pageNo==i)?'btn-danger':'btn-light'}} {{!$last?'mr-1':''}}" 
                                ng-click="getList(i,keyword,searchStatus)">{{i}}</button>
                    <button class="btn btn-light btn-sm" 
                                ng-show="pager.groupNo < pager.totalGroupNo" 
                                ng-click="getList(pager.endPageNo+1,keyword,searchStatus)">다음</button>
                    <button class="btn btn-light btn-sm" 
                                ng-click="getList(pager.totalPageNo,keyword,searchStatus)">맨끝</button>
                </div>
                <span ng-if="!pageShow">검색 결과가 없습니다.</span>
          </div>
    </div>
