<style>
    .fail-class{
      color: red;
    }
    .success-class{
      color: #37b24d;
    }
    .redbackground{
        color: red;
    }
    a { 
      color: black; text-decoration: none;
      cursor:pointer;
    }
    td {
      text-align: center;
    }
    th {
      text-align: center;   
    }
  </style>
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div class="p-2">
       <select style="margin-left: 20px;" ng-model="optionVal">
        <option ng-repeat="option in optionList">{{option}}</option>
      </select> 
      <button class="btn btn-sm btn-outline-dark" style="line-height: 1.0" ng-click="search(optionVal)">조회</button>
      </div>

      <div class="mr-4 btn btn-warning btn-md" ng-click="createProductForm()">생성</div>
    </div>
    
     
   
    <div class="card-body">
      <div>
        <table class="table">
          <thead class="thead-light">
            <tr style="text-align: center;">
                    <th>번호</th>
                    <th>상품명</th>
                    <th>카테고리</th>
                    <th>상품가격</th>
                    <th>상품재고</th>
                    <th>수정버튼</th>
                    <th>삭제버튼</th>
            </tr>
          </thead>
          <tr ng-repeat="product in products">
            <td>{{product.p_id}}</td>
            <td><a ng-click="read(product.p_id)" href="">{{product.p_name}}</a></td>
            <td>{{product.p_category_name}}</td>
            <td>{{product.p_price}}</td>

            <td ng-show="product.p_stock == 0" class="redbackground">재고부족</td>
            <td ng-hide="product.p_stock == 0">{{product.p_stock}}</td>
            <td style="border: none;"><div class="btn btn-outline-primary btn-sm" ng-click="updateProductForm(product.p_id)">수정</div></td>
            <td style="border: none;"><div class="btn btn-outline-danger btn-sm" ng-click="deleteProduct(product.p_id)">삭제</div></td>
        </tr>
          </table>
          <div style="margin-top: 20px; text-align: center;">
            <button class="btn btn-light btn-sm" 
                        ng-click="getList(1,optionValue)"><<</button>
            <button   class="btn btn-light btn-sm" 
                        ng-show="pager.groupNo>1" 
                        ng-click="getList(pager.startPageNo-1,optionValue)">이전</button>
            <button ng-repeat="i in pageRange"
                      class="btn btn-sm {{(pager.pageNo==i)?'btn-danger':'btn-light'}} {{!$last?'mr-1':''}}" 
                        ng-click="getList(i,optionValue)">{{i}}</button>
            <button   class="btn btn-light btn-sm" 
                        ng-show="pager.groupNo < pager.totalGroupNo" 
                        ng-click="getList(pager.endPageNo+1,optionValue)">다음</button>
            <button class="btn btn-light btn-sm" 
                        ng-click="getList(pager.totalPageNo,optionValue)">>></button>

          </div>
         
          
        </div>
        
      </div>
    </div>
  










