<div class="card">
    <div class="card-header">
        update.html
    </div>
    <div class="card-body">
        <div>
            <div class="form-group">
                <label>상품이름:</label>
                <input class="form-control" ng-model="product.p_name" />
            </div>
            <div class="form-group">
                <label>상품설명:</label>
                <textarea class="form-control" ng-model="product.p_description" ></textarea>
            </div>
            <div class="form-group">
                <label>카테고리:</label>
                <input class="form-control" ng-model="product.p_category_name"/>
            </div>
            <div class="form-group">
                <label>상품가격:</label>
                <input class="form-control" ng-model="product.p_price"></input>
            </div>
            <div class="form-group">
                <label>상품재고:</label>
                <input class="form-control" ng-model="product.p_stock"></input>
            </div>
            <div class="form-group">
                <label>메인사진 첨부:</label></br>
                <a ng-hide="mainphoto == null" href="">
                {{mainphoto.photo_sname}}</br>
                <img src="{{GetPhoto('Main',mainphoto.photo_sname,mainphoto.photo_type)}}" width="200"/>
                </a>
                <input id="pmainphoto" type="file" class="form-control-file" />
            </div>
        </br>
            <div class="form-group">
                <label>서브사진 첨부:</label></br>
                <div ng-repeat="subphoto in subphotos">
                    <a ng-hide="subphoto == null" href="">
                
                    {{subphoto.photo_sname}}</br>
                    <img src="{{GetPhoto('Sub',subphoto.photo_sname,subphoto.photo_type)}}" width="200"/>        
                    </a>
                </div>
                <input id="psubphotos" type="file" class="form-control-file"  multiple/>
            </div>
        </br>
            <div class="form-group">
                <label>디테일사진 첨부:</label></br>
                <a ng-hide="detailphoto == null" href="">
                {{detailphoto.photo_sname}}</br>
                <img src="{{GetPhoto('Detail',detailphoto.photo_sname,detailphoto.photo_type)}}" width="200"/>
                </a>
                <input id="pdetailphoto" type="file" class="form-control-file" />
            </div>
            <button class="btn btn-primary btn-sm" ng-click="updateProduct(product)">수정</button>
            <button class="btn btn-primary btn-sm" ng-click="cancel()">취소</button>        
        </div>
    </div>
</div>