<div class="pricing-header px-3 py-3 pb-md-4 mx-auto text-center">
     <h1 class="display-9">DOGSINSA 관리 현황</h1> 
  </div>
  
  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">User</h4>
        </div>
        <div class="card-body" style="padding:0.8rem; flex-direction: column; display:flex; justify-content: center; align-items: center;">
          <ul class="list-unstyled  mt-1"  style="font-size: 20px;">
            <li>현재 독신사에 가입된</li>
            <li>회원수</li>
          </ul>
          <h1 class="card-title pricing-card-title" style="color: #FF3357;">{{ucount}}개</h1>
          <a href=/#!/http_user>
          <button type="button" class="btn btn-lg btn-block btn-outline-danger" >고객리스트로 가기</button></a>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Product</h4>
        </div>
        <div class="card-body" style="padding:0.8rem; flex-direction: column; display:flex; justify-content: center; align-items: center;">
          <ul class="list-unstyled  mt-1"  style="font-size: 20px;">
            <li>현재 품절상태의</li>
            <li>상품개수</li>
          </ul>
          <h1 class="card-title pricing-card-title" style="color: #FF3357;">{{pcount}}개</h1>
          <a href=/#!/product>
          <button type="button" class="btn btn-lg btn-block btn-outline-danger">상품리스트로 가기</button></a>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Order</h4>
        </div>
        <div class="card-body" style="padding:0.8rem; flex-direction: column; display:flex; justify-content: center; align-items: center;">
          <ul class="list-unstyled mt-1" style="font-size: 20px;">
            <li>현재 배송준비 상태의</li>
            <li>주문개수</li>
          </ul>
          <h1 class="card-title pricing-card-title" style="color: #FF3357;">{{ocount}}개</h1>
          <a href=/#!/http_order>
          <button type="button" class="btn btn-lg btn-block btn-outline-danger" >주문리스트로 가기</button></a>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">QnA</h4>
        </div>
        <div class="card-body" style="padding:0.8rem; flex-direction: column; display:flex; justify-content: center; align-items: center;">
          <ul class="list-unstyled  mt-1"  style="font-size: 20px;">
            <li>현재 답변대기 상태의</li>
            <li>문의글 수</li>
          </ul>
          <h1 class="card-title pricing-card-title"  style="color: #FF3357;">{{waitcount}}개</h1>
          <a href=/#!/http_qna>
          <button type="button" class="btn btn-lg btn-block btn-outline-danger">문의리스트로 가기</button></a>
        </div>
      </div>
    </div>
  
   
  </div>