<div>
    <button class="btn btn-primary btn-sm mb-2" ng-click="getList()">전체목록</button>
</div>
<div class="d-flex justify-content-between alert alert-primary">
    <div>
        리뷰점수 선택
        <select ng-model="review_scoreVal">
            <option ng-repeat="review_score in review_scoreList">{{review_score}}</option>
        </select>
        <button class="btn btn-primary btn-sm" ng-click="getListByFilter(pageNo, review_scoreVal)">
            확인
        </button>
    </div>
    <!---->
    <div>
        <select ng-model="searchVal">
            <option ng-repeat="searchVal in searchList">{{searchVal}}</option>
        </select>
        <input class="searchBar" ng-value="searchContent" ng-model="searchContent" placeholder="검색어를 입력하세요." />
        <button class="btn btn-primary btn-sm" ng-click="getListBySearch(pageNo, searchVal, searchContent)">확인
        </button>
    </div>


</div>

    <table class="table">
        <thead class="thead-light">
            <tr style="text-align: center;">
                <th>리뷰번호</th>
                <th>리뷰점수</th>
                <th>리뷰제목</th>
                <th>리뷰내용</th>
                <th>리뷰날짜</th>
                <th>작성자아이디</th>
                
            </tr>
            <tr ng-repeat="review in reviews | filter: {review_content:getSearchVal()} ">
                <td>{{review.review_id}}</a></td>
                <td>{{review.review_score}}/5</td>
                <td><a ng-click="read(review.review_id)" href="">{{review.review_title}}</td>
                <td>{{review.review_content}}</td>
                <td>{{review.review_date | date:"yyyy.MM.dd HH:mm"}}</td>
                <td>{{review.user_id}}</td>
            </tr>
        </thead>
    </table>
    <div class="card">
        <div style="margin-top: 20px; text-align: center;">
            <button class="btn btn-light btn-sm" ng-click="getListBySearch(1, searchVal, searchContent)">처음</button>
            <button class="btn btn-light btn-sm" ng-show="pager.groupNo>1"
                ng-click="getListBySearch(pager.startPageNo-1, searchVal, searchContent)">이전</button>
            <button ng-repeat="i in pageRange"
                class="btn btn-sm {{(pager.pageNo==i)?'btn-danger':'btn-light'}} {{!$last?'mr-1':''}}"
                ng-click="getListBySearch(i, searchVal, searchContent)">{{i}}</button>
            <button class="btn btn-light btn-sm" ng-show="pager.groupNo < pager.totalGroupNo"
                ng-click="getListBySearch(pager.endPageNo+1, searchVal, searchContent)">다음</button>
            <button class="btn btn-light btn-sm"
                ng-click="getListBySearch(pager.totalPageNo, searchVal, searchContent)">맨끝</button>
        </div>
    </div>


</div>
</div>