

          
          <div class="card">
          
            <div class="row">
              <div class="col-xs-2 col-md-2"></div>
              <div class="col-xs-8 col-md-8">
              <br/>
              <div class="table table-responsive">
                  <table class="table">
                    <tr>
                      <th>리뷰내용</th>
                      <td>{{review.review_content}}</td>
                      <th>리뷰제목</th>
                      <td>{{review.review_title}}</td>
                    </tr>

                    <tr>
                        <th>리뷰점수</th>
                        <td>{{review.review_score}}</td>
                        <th>리뷰날짜</th>
                        <td>{{review.review_date | date: 'yyyy-MM-dd HH:mm' }}</td>
                    </tr>

                    <tr>
                        <th>작성자아이디</th>
                        <td>{{review.user_id}}</td>
                    </tr>

                    
                  </table>
                <div class="text-center">
                    <button ng-show="uid" class="btn btn-danger btn-sm" ng-click="updateReviewForm()">비공개</button>
                    <button class="btn btn-primary btn-sm" ng-click="getList(pager.pageNo,reviewScoreVal, searchTypeVal, searchContentVal)">목록</button>     
                </div>
              </div>
            </div>
          </div>    
                
            
          
          