<div class="card">
  <div class="card-header">
      Userlist.html
  </div>
  <div class="card-body">
    <div>
      <div>
        <div class="form-group">
          <label for = "search-user_name">유저 정보 검색</label>
          <input 
          data-ng-model="search.user_name"
          type="user" 
          class="form-control" 
          id="search-user" 
          placeholder="User Name">
        </div>
        <table class="table table-striped table-bordered">
            <tr>
                <th>회원아이디</th>
                <th>회원이름</th>
                <th>회원번호</th>
                <th>회원상태</th>
            
            </tr>
            <tr ng-repeat="user in userlist | filter: search">
                <td>{{user.user_id}}</td>
                <td><a ng-click="read(user.user_id)" href="">{{user.user_name}}</a></td>
                <td>{{user.user_phone}}</td>
                <td>
                  <button class="btn btn-outline-primary btn-sm" ng-If="user.enabled == 1">회원</button>
                  <button class="btn btn-outline-primary btn-sm" ng-If="user.enabled == 0">비회원</button>                  
              </td>
                
            </tr>
               <tr>
                  <td colspan="5" style="text-align: center;">
                     <button class="btn btn-outline-primary btn-sm" 
                                 ng-click="getList(1)">처음</button> 
                     <button   class="btn btn-outline-info btn-sm" 
                                 ng-show="pager.groupNo>1" 
                                 ng-click="getList(pager.startPageNo-1)">이전</button>
                     <button ng-repeat="i in pageRange"
                                class="btn btn-sm {{(pager.pageNo==i)?'btn-danger':'btn-outline-success'}} {{!$last?'mr-1':''}}" 
                                 ng-click="getList(i)">{{i}}</button>
                     <button   class="btn btn-outline-info btn-sm" 
                                 ng-show="pager.groupNo < pager.totalGroupNo" 
                                 ng-click="getList(pager.endPageNo+1)">다음</button>
                     <button class="btn btn-outline-primary btn-sm" 
                                 ng-click="getList(pager.totalPageNo)">맨끝</button>
                  </td>
               </tr>
        </table>
      </div>
    </div>
  </div>
</div>