<style>
  .fail-class{
    color: red;
  }
  .success-class{
    color: #37b24d;
  }
</style>

<div class="card">

  <div class="row">
    <div class="col-xs-2 col-md-2"></div>
    <div class="col-xs-8 col-md-8">
    <br/>
    <div class="table table-responsive">
        <table class="table">
          <tr>
            <th>회원아이디</th>
            <td>{{user.user_id}}</td>
            <th>회원이름</th>
            <td>{{user.user_name}}</td>
          </tr>
            
          
          <tr>
            <th>회원번호</th>
            <td>{{user.user_phone}}</td>
            <th>강아지 사이즈</th>
            <td>{{user.dog_size}}</td>
          </tr>
          
        </table>
      <div class="text-center">
      <button class="btn btn-danger btn-sm" ng-click="getList(pager.pageNo,keyword,searchStatus)">목록</button>
      <button ng-show="uid" class="btn btn-danger btn-sm" ng-click="updateUserForm()">수정</button>       
      </div>
    </div>
  </div>
</div>    
</div>