<style>
  .fail-class{
    color: red;
  }
  .success-class{
    color: #37b24d;
  }
</style>

<div class="card">

  <div class="row">
    <div class="col-xs-1 col-md-1"></div>
    <div class="col-xs-10 col-md-10">
    <br/>
    <div class="table table-responsive">
        <table class="table">
          
            <tr>
                <th>회원아이디</th>
                <td><input class="form-control" ng-model="user.user_id" />
                </td>
                <th>회원이름</th>
                <td><input class="form-control" ng-model="user.user_name"></input>
                </td>
            </tr>
              
            
            <tr>
                <th>회원번호</th>
                <td><input class="form-control" ng-model="user.user_phone"></input></td>
                <th>강아지 사이즈</th>
                <td><input class="form-control" ng-model="user.dog_size"></input></td>
            </tr>    
           </div>
       
      </table>
      <div class="text-center">
        <button class="btn btn-danger btn-sm" ng-click="updateUser(user)">수정</button>
        <button class="btn btn-danger btn-sm" ng-click="cancel()">취소</button>    
      </div>
    </div>
  </div>
</div>    
</div>
      
  